extends layout

block content
  h1= title
  
  form(method='POST' action='')
    div.form-group
      label(for='author')
      input#author.form-control(type='text', placeholder='Author' name='author' value=book_author)

      br

      label(for='file')
      input#file.form-control(type='file', placeholder='Upload file' name='file' )

      br

      label(for='title')
      input#title.form-control(type='text', placeholder='Title' name='title' value=book_title)

      br

      label(for='description')
      input#description.form-control(type='text', placeholder='Description' name='description' value=book_description)

      br

      label(for='status')
      select#status.form-control(name='status' value=book_status)
          option -- Status --
          option(value='On') On
          option(value='Off') Off

    button.btn.btn-primary(type='submit') Submit

  if errors 
    ul
      for error in errors
        li!= error.msg